.wrapper {
    display: flex;
    position: relative;
    height: calc(100dvh - var(--header-height));
    width: 100%;
    padding: 5ch 3ch 3ch 3ch;
    overflow-y: hidden;
  }
  
  .table {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 3ch;
    padding-right: 3ch;
  }
  
  form {
    display: flex;
    height: 50px;
    line-height: 50px;
    align-items: center;
    gap: 3ch;
    padding-left: 1ch;
    border-radius: 10px;
    width: 100%;
  }
  
  .search_style {
    display: flex;
    background-color: var(--c-accent);
    height: 50px;
    line-height: 50px;
    align-items: center;
    gap: 1ch;
    padding-left: 1ch;
    border-radius: 6px;
    flex-grow: 1;
  }
  
  .search_style > label > img {
    width: 20px;
    position: relative;
    top: 4px;
    left: 3px;
  }
  
  .search_style > input {
    appearance: none;
    background-color: transparent;
    border: 0px;
    color: var(--c-ft-semi-light);
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    line-height: inherit;
    font-family: inherit;
    font-size-adjust: inherit;
    font-kerning: inherit;
    font-optical-sizing: inherit;
    font-language-override: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 1rem;
    height: 100%;
    outline: none;
    padding: 0px 0px 0px 8px;
    width: 100%;
  }
  
  .search_style input::placeholder {
    color: var(--c-ft-semi-light);
  }
  
  form > button {
    font-size: 1.1rem;
    font-weight: 500;
    border: none;
    background-color: var(--c-select);
    border-radius: 6px;
    color: var(--c-bg-light);
    cursor: pointer;
    padding: 0px 15px;
    height: 100%;
  }
  
  #select {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--c-ft-semi-light);
    border: '4px solid var(--c-ft-semi-light)';
    border-radius: 6px;
    padding: 0px 15px;
    height: 100%;
  }
  
  .chevron{
    display: inline-block;
    width: 12px;
    height: 12px;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    transform: rotate(-45deg);
    border-radius: 2px; 
  }
  
  /* Right Popup Placeholder */
  .right-popup-placeholder {
    position: sticky;
    top: 0;
    right: 0;
    width: 350px;
    border-radius: 20px;
    background-color: #eef4fb;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  }
  
  .right-popup-placeholder .title {
    font-size: 1.2rem;
    font-weight: 700;
    color: #444;
    margin-bottom: 10px;
  }
  
  
  
  .right-popup-placeholder .pfp {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .right-popup-placeholder .cardUsername {
    font-size: 1.5rem ;
    font-weight: 600;
    color: #333;
    margin-bottom: 5px;
  }
  
  .right-popup-placeholder .cardUseless {
    font-size: 1rem ;
    font-weight: 600;
    color: #9c9999;
    margin-bottom: 10px;
  }
  
  .right-popup-placeholder .cardRole {
    
    font-weight: 500;
    color: #777;
    margin-bottom: 20px;
  }
  
  .right-popup-placeholder .cardActions {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .right-popup-placeholder .edit-button,
  .right-popup-placeholder .web-button,
  .right-popup-placeholder .bill-button,
  .right-popup-placeholder .delete-button {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
    font-size: 1.2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .right-popup-placeholder .edit-button:hover,
  .right-popup-placeholder .web-button:hover,
  .right-popup-placeholder .bill-button:hover,
  .right-popup-placeholder .delete-button:hover {
    background-color: #f0f0f0;
  }
  
  .right-popup-placeholder .cardInfo {
    width: 100%;
    text-align: left;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .right-popup-placeholder .cardInfo .line {
    display: flex;
    justify-content: space-between;
  }
  
  .right-popup-placeholder .cardInfoLabel {
    font-size: 1.1rem;
    font-weight: 500;
    color: #555;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .right-popup-placeholder .cardInfoValue {
    font-size: 1.1rem;
    font-weight: 250;
    color: #333;
  }
  
  /* Modal styles */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000;
  }
  
  .modal {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .modal-actions {
    width: 100%;
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem;
  }
  
  .modal h2 {
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  .popup_form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto; /* Adiciona scroll vertical quando necessário */
    height: 100%;
    margin-bottom: 60px;
  }
  
  .popup_form .container,
  .popup_form .line {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }
  
  .popup_form .line .formEle {
    justify-content: flex-start;
    margin-right: 30px;
  }

  /* Label Styling */
.popup ,
.modal-overlay label {
  display: block;
  margin-bottom: 0.2rem;
  font-size: 1rem;
  font-weight: 400;
  height: 30px;
}

/* Input Styling */
.popup_form input,
.popup_form select {
  width: 100%;
  height: 40px;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
}

.binary {
    width: 100%;
    display: flex;
    align-items: center; /* Alinha os itens verticalmente ao centro */
  }

  .binary .choice {
    width: 50%;
    display: flex;
    align-items: center; /* Alinha os itens verticalmente ao centro */
    gap: 10px;
  }

  .binary .choice .sel{
    width: 20%;
    display: flex;
    align-items: center; /* Alinha os itens verticalmente ao centro */
  }

  .binary .choice .lab{
    width: 80%;
  }

  .bola {
    width: 20px;
    height: 20px;
  }

/* Button Styling */
.btn-primary {
    position: absolute;
    background: #152259;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
    height: 40px;
    bottom: 40px;               /* Distância do topo da div */
    right: 70px;
}

.btn-cancel {
    display: flex;               /* Ativa o Flexbox */
    justify-content: center;     /* Alinha horizontalmente ao centro */
    align-items: center;         /* Alinha verticalmente ao centro */
    position: absolute;       /* Permite posicionar o botão de forma absoluta */
    top: 1px;               /* Distância do topo da div */
    right: 1px;             /* Distância da direita da div */
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #002855;
}