*, *::before, *::after {
  min-width: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --c-bg-light: #ffffff;
  --c-ft-dark: #1a1a1a;
  --c-ft: #4f4f4f;
  --c-ft-semi-light: #8a8a8a;
  --c-ft-light: #a7a7a7;
  --c-accent: #ddf0ff;
  --c-select: #509CDB;
  
  --font-family: 'Kumbh Sans', sans-serif;

  --header-height: 100px;
  --opposite-header-height: -100px;
  --mobile-header-height: 74px;
  --sidenav-width: 300px;
  --opposite-sidenav-width: -300px;



  background-color: var(--c-bg-light);
  color: var(--c-ft);
  font-family: var(--font-family);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}